*{
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  display: flex;
  background-color: #eeeee4;
  align-items: center;
  justify-content: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrapper{
  width: 25rem;
  height: 30rem;
  padding-left: 2rem;
  padding-top: 2rem;
  border-radius: 1rem;
  background-color: lightblue;
  box-shadow: -24px 18px 8px -3px rgba(47, 106, 196, 0.1);
}

.screen{
  background-color: black;
  color: white;
  height: 5rem;
  border-radius: 1rem;
  padding: 2rem;
  width: 21rem;
  text-align: right;
}